
.AnchorPane{
	-fx-background-size: 100% 100%;
	-fx-background-image: url("back.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1080 750;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);   
}
           
.StackPane{
	-fx-background-size: 100% 100%;
              
}
   
  /*fix */         
.VBox{
	-fx-background-color:#4db8ff ;
}          
           
.button{
  -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );


}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill: #39b5ff;
    -fx-border-color: #39b5ff;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    
    
    
}

.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:  #39b5ff;
    -fx-border-color:  #39b5ff;
    -fx-border-width: 2;
    -fx-rotate: 0.1;
    /*fix -fx-rotate: 0.25;*/ 
    
}
.table-view .table-cell{
    -fx-text-fill: black;
    -fx-text-style:bold;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 15 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
 
  
   
}

.text-field{
  
   
}

/*fix */
.togglebutton:selected {
	-fx-background-color:#4db8ff ;
}

.tab
{
	
	-fx-padding: 5px;
    -fx-border-insets: 5px;
	-fx-background-color:transparent;
	 -fx-border-color: gray;
	  -fx-border-color: gray;
	  -fx-border-radius:30;
	  -fx-border-width:1;
	 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    
}

.tab:selected {
    -fx-background-color:#4db8ff ;
    -fx-background-radius:30;
     -fx-border-color: gray;
	  -fx-border-radius:30;
    -fx-rotate: 0.25;
    
}

.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
   
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}